---
// stylesheet
import "./style.ba2f18d0.css";

// components
import ProjectInfo from '../../../components/ProjectInfo.jsx';

const projectDetails = {
  name: 'Analogue Clocks',
    description:
      'We’ll build custom SVG world clocks in both functional and object oriented programming styles using the requestAnimationFrame API and the date-fns library.',
    thumbnail: 'tYKlLQmg6OM',
    url: 'analogue-world-clocks',
    youtube: 'https://www.youtube.com/watch?v=tYKlLQmg6OM',
    code: 'https://github.com/coding-in-public/analogue-world-clocks',
  circleColor: '#b8c1ec',
    iconColor: '#232946',
}

---

<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Watch face</title><script type="module" hoist>
import "./app.6a2c7baa.js"
</script></head><body> <main> <div class="container"> <div class="clock--wrapper"> <h2>Denver</h2> <div class="clock" data-locale="America/Denver"></div> </div> <div class="clock--wrapper"> <h2>Berlin</h2> <div class="clock" data-locale="Europe/Berlin"></div> </div> <div class="clock--wrapper"> <h2>New York</h2> <div class="clock" data-locale="America/New_York"></div> </div> <div class="clock--wrapper"> <h2>Algiers</h2> <div class="clock" data-locale="Africa/Algiers"></div> </div> </div></main><ProjectInfo projectDetails={projectDetails} client:visible/>
</body></html>